body {
    font-family: 'Baloo Bhai 2', sans-serif;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  color: #555;
}

.btn-success {
  background-color: #14a800;
  border: none;
}

.btn-success:hover {
  background-color: #0f7a00;
}
/* nav  */
.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm{
 width: 100%;
}




/* left box  */
.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}